<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">

  <section class="about-description">
    <h3><span translate>TITLE_ABOUT</span> <small style="margin-left: 10px;" translate>SECTION_CORPORATE_HISTORY</small></h3>
    <p class="text-justify">
        Hello, and welcome to my Juice Shop!
        <br>
        My name is Lars I am born in 1962 and I love my cat Mifmif.

        <br>
    </p>
  </section>

  <div class="feedback">
    <h3><span translate>SECTION_CUSTOMER_FEEDBACK</span></h3>
    <slideshow [height]="'300px'"
               [autoPlay]="true"
               [showArrows]="true"
               [showDots]="false"
               [imageUrls]="slideshowDataSource">
    </slideshow>

    <div *ngIf="twitterUrl || facebookUrl" class="social">
      <h3><span translate="">SECTION_SOCIAL_MEDIA</span></h3>
      <a *ngIf="twitterUrl" [href]="twitterUrl" target="_blank" rel="noopener noreferrer"><button mat-raised-button color="accent"><i class="fab fa-twitter fa-lg"></i> Twitter</button></a>
      <a *ngIf="facebookUrl" [href]="facebookUrl" target="_blank" rel="noopener noreferrer"><button mat-raised-button color="accent"><i class="fab fa-facebook fa-lg"></i> Facebook</button></a>
      <a *ngIf="slackUrl" [href]="slackUrl" target="_blank" rel="noopener noreferrer"><button mat-raised-button color="accent"><i class="fab fa-slack fa-lg"></i> Slack</button></a>
    </div>
  </div>

</div>
