<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">

  <section class="ext-hint">
    <h1 style ="font-size:45px;"><span translate>SECTION_HINTS</span></h1>
    <br>
    <h2 style ="font-size:35px;"> Beginner Challenges: </h2>
    <h3 style ="font-size:25px;" id="Admin_Section"> <u> Access the administration section </u> </h3>
    <p class="text-justify">
      Just like the score board, the admin section was not part of your "happy path" tour because there seems to be no link to that section either. In case you were already logged in with the administrator account you might have noticed that not even for him there is a corresponding option available in the main menu.
    </p>

    <h4> Hints: </h4>
    <ul>
    <li> Knowing it exists, you can simply guess what URL the admin section might have. </li>
    <li> Alternatively, you can try to find a reference or clue within the parts of the application that are not usually visible in the browser. </li>
    <li> It is probably just slightly harder to find than the score board link. </li>
    </ul>

    <h4> Solution: </h4>
    <p>
    Hover the orange box to see the solution.
    <br>
    <span class="solution">Admin stands for administrator, and an admin loves <i>administration </i></span>
    </p>

    <br>

    <h3 style ="font-size:25px;" id="Evaluate_XSS"> <u> Fix the ValidateInput function </u> </h3>
    <p>
      Fixing the ValidateInput function you need to complete the code seen in <a href="/#/evaluate">the challenge.</a> As the description says we need to fix XSS attacks, and hence we need to sanitize our input. If you are experienced in JavaScript you can try to make your own function, or you can simply apply our function named "sanitization"!
    </p>

    <h4> Hints: </h4>
    <ul>
    <li> What we call 'input' in our function is an example of an attempted XSS attack which tries to trigger an alert with the text "XSS hallo" on our site. </li>
    <li> A function can be called by using it's name and then defining what you want to give it.</li>
    <li> We want to return some sanitized input. Therefore we need to apply the function on our given input, by giving our function the input. </li>
    </ul>

    <h4> Solution: </h4>
    <p>
      Hover the orange box to see the solution.
      <br>
      <span class="solution"> To pass the input to our sanitization function we need to call the function with the "input" as an arguement. <br>
      sanitization(input)
      </span>
    </p>

    <h3 style ="font-size:25px;" id="Overharing"> <u> Oversharing </u> </h3>
    <p>
      Oversharing is quite common in todays world. He might have shared a bit too much information so that you can guess his weak password.
    </p>

    <h4> Hints: </h4>
    <ul>
    <li> You normally leave information about yourself and the website in the "About Us" section. </li>
    <li> You normally leave contact information such as e-mail in the "Contact" section.</li> 
    </ul>
    

    <h4> Solution: </h4>
    <p>
      Hover the orange box to see the solution.
      <br>
      <span class="solution"> People often use passwords such as their children or pets names and the year they were born, as it's easy to remember.
      </span>
    </p>

    <h3 style ="font-size:25px;" id="Pass_strength"> <u> Password Strength </u> </h3>
    <p>
      Weak passwords are everywhere. But some of the worst weak passwords are the default, which haven't been changed.
    </p>

    <h4> Hints: </h4>
    <ul>
    <li> Guessing might work just fine. </li>
    <li> If you harvested the admin's password hash, you can try to attack that. </li>
    <li> In case you use some hacker tool, you can also go for a brute force attack using a generic password list </li>
    </ul>

    <h4> Solution: </h4>
    <p>
      Hover the orange box to see the solution.
      <br>
      <span class="solution"> Autogenerated and default passwords often just include the username and then '123'.
      </span>
    </p>

    <h3 style ="font-size:25px;" id="Timing"> <u> Timing Attack </u> </h3>
    <p>
      Timing Attack is all about using the response time to determine and gather information about the code or the algorithm used.
    </p>

    <h4> Hints: </h4>
    <ul>
    <li> When is the code slower? </li>
    <li> The reponse time might increase if the character is not included. </li>
    <li> The response time might also increase depending on the lenngth. </li>
    </ul>

    <h4> Solution: </h4>
    <p>
      Hover the orange box to see the solution.
      <br>
      <span class="solution"> Using the above information it is easy to determine what the password is. It has a faster response the closer you get. And the password is a fruit.
      </span>
    </p>
  </section>
</div>
