<div fxLayoutAlign="center">
  <mat-card>


    <div class="form-container">

      <div class="error">{{error?.error}}</div>

      <div>
        If you go ahead and press submit you will notice, that we have a XSS issue and we need you to fix it.
        The function you need to fix is validateInput. This function needs to validate the input and then return safe input.
        <br>
        The requirement:<br>
          1. The function must be named validateInput<br>
          2. It must return a XSS free input<br>
          <br>
        We will test the new better function with some known xss tricks.

        <div>
            <font size="2">Hint: We have made our own <em>sanitization</em> function, apply this to the input to avoid XSS attacks</font>

        </div>
      </div>


      <!-- id="code" name="code" [formControl]="CodeControl"
          (focus)="this.error=null">  -->
      <mat-form-field>
        <mat-label>validator</mat-label>
        <textarea matInput id="code" [(ngModel)]='code' matTextareaAutosize matAutosizeMinRows=1 matAutosizeMaxRows=5>

          </textarea>
        <mat-error *ngIf="CodeControl.invalid" >Please provide a password</mat-error>
      </mat-form-field>


      <div class="button-container">
        <button id="loginButton"  mat-raised-button
                color="primary" (click)="submit()"><i class="fas fa-key fa-lg"></i> Submit
        </button>

      </div>


    </div>


  </mat-card>
</div>
